# vm3 does not have pip installed for python3
---
- name: something
  hosts: all
  tasks:
  - name: git
    become: yes
    package:
        name: git
        state: present
  - name: python3.9
    become: yes
    package:
        name: python3.9
        state: present
  - name: ensure pip3 is installed
    become: yes
    package:
        name: python3-pip
        state: present
  - name: "clone or git pull"
    git:
        repo: https://github.com/2105-may24-devops/eric-project0.git
        dest: /home/eric/p0
        update: yes
  - name: ensure that virtualenv is installed
    pip:
        name: virtualenv
        executable: "pip3"
        state: present
  - name: create virtual environment
    pip:
        virtualenv: /home/eric/p0/env
        requirements: /home/eric/p0/requirements.txt